<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">

{% include head.html %}

<header class="hover smooth" style="display:flex;flex-wrap:nowrap;align-items:center;gap:5em;">
  <img src="{{ "/assets/images/headshot.jpg" | relative_url }}" alt="{{ site.author | escape }}" style="height:12em;width:12em;border-radius:50%;object-fit:cover;flex-shrink:0;margin:0;">
  <div style="display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;flex:1;min-width:0;">
    {% unless site.show_minimal and site.navigation and site.external %}
      <h1 {% if site.navigation and site.external %}class="full"{% endif %} style="font-size:2.5em;"><a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>
    {% endunless %}
    {% include menu.html menu=site.navigation %}
    {% include menu.html menu=site.external %}
  </div>
</header>

{{ content }}

{%- if site.footer -%}
<footer class="hover">
  <div>{{ site.description }}</div>
  {% include menu.html menu=site.footer %}
</footer>
{%- endif -%}

</html>
